body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 1px solid #110f0f;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    text-align: center;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn {
    padding: 10px;
    font-size: 18px;
}